<li>
  <span> <%= "#{chat_room.title.humanize}" %> </span>
  <span> <%= link_to 'Enter', chat_room_path(chat_room) %> </span>
  <span> <%= link_to 'Edit', edit_chat_room_path(chat_room) %></span>
  <% if chat_room.user == current_user %>
  <span><%= link_to 'Delete', chat_room, method: :delete,
                    data: { confirm: "You sure?" },
                    title: chat_room.title %></span>
  <% end %>
</li>
