- @users.each do |user|
  = bootstrap_form_tag(url: friendship_request_create_path(user), method: :post) do
    = render partial: 'users/user', locals: { user: user}
    = submit_tag('Add to friends', class: 'btn btn-primary btn-sm')
    = link_to 'User info', user_path(user), class: 'btn btn-primary btn-sm'
