<h1>Users:</h1>
<% @users.each do |user| %>
    <%= bootstrap_form_tag(url: add_friend_path(user), method: :post) do %>
        <%= render partial: 'friendships/user', locals: { user: user} %>
        <%= submit_tag('Add to friends', class: 'btn btn-primary btn-sm') %>
    <% end %>
<% end %>
