<h1>Pending requests from:</h1>
<% @users.each do |user| %>
    <%= bootstrap_form_tag(url: friend_update_request_path(user), method: :patch) do %>
        <%= render partial: 'friendships/user', locals: { user: user} %>
        <%= submit_tag('Accept request', name: 'btn_accept', class: 'btn btn-primary btn-sm') %>
        <%= submit_tag('Decline request', name: 'btn_decline', class: 'btn btn-primary btn-sm') %>
    <% end %>
<% end %>

