.edit_user {
  .field {
    .form-control {
      width: 25% ;
    }
  }

  #user_description{
    width: 50% !important;
    height: 100px;
  }
}
.modal-add-friend {
  margin-bottom: 10px;
  margin-top: 10px;
}

